* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 100px 50px 90% 1fr;
  gap: 5px;
  
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  grid-column: span 2;
  display: grid;
  background-color: #393f4d;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  
}
.logo {
  justify-self: left;
}

.menu ul {
  display: grid;
  grid-template-columns: repeat(4, minmax(15ch, 40ch));
  gap: 5rem;
  margin-right: 5rem;
}

.menu ul,
.menu li {
  font-size: 16px;
  list-style: none;
}

.sidebar {
  background-color: #C50208;
  grid-row: span 2;
  display: grid;
  gap: 2rem;
}

.sidebar > * {
  align-content: center;
}
.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #C50208;
}

.nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
  background-color: #bccbde;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-column: span 2;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}